[flake8]
max-line-length = 88
ignore =
    # Unnecessary dict/list/tuple call - rewrite as a literal
    C408
    # whitespace before ':' - doesn't work well with black
    E203
    # missing whitespace around operator - let black worry about that
    E225
    # line break occurred before a binary operator - let black worry about that
    W503
