build/
dist/
lib/pyproj.egg-info/
nad2bin*
*.obj
*.o
*~
lib/pyproj/data/FL
lib/pyproj/data/MD
lib/pyproj/data/TN
lib/pyproj/data/WI
lib/pyproj/data/WO
lib/pyproj/data/alaska
lib/pyproj/data/conus
lib/pyproj/data/hawaii
lib/pyproj/data/null
lib/pyproj/data/prvi
lib/pyproj/data/stgeorge
lib/pyproj/data/stlrnc
lib/pyproj/data/stpaul
test/itransform_coords.out.txt



