repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v3.0.1
        hooks:
        -   id: check-yaml
        -   id: end-of-file-fixer
        -   id: trailing-whitespace
    -   repo: https://github.com/psf/black
        rev: 19.10b0
        hooks:
        -   id: black
            args: [--target-version, py36]
    -   repo: https://github.com/timothycrosley/isort
        rev: 4.3.21
        hooks:
        -   id: isort
            args: [setup.py, pyproj/, test/, docs/]
    -   repo: https://github.com/asottile/blacken-docs
        rev: v1.7.0
        hooks:
        -   id: blacken-docs
            args: [--skip-errors]
    -   repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.1
        hooks:
        -   id: flake8
            additional_dependencies: [flake8-comprehensions>=3.1.0]
            args: [--max-line-length, '88', --ignore, "E225,W503,C408"]
        -   id: flake8
            name: flake8-pyx
            files: \.(pyx|pxd)$
            types:
            - file
            args: [--append-config=flake8/cython.cfg]
