language: python

sudo: false

cache: pip

env: 
  global: 
    - PROJSOURCE=builtin

# External version of PROJ.4 installed:
#  * 4.9.2 is installed due to it having easy binary install on
#    Ubuntu Linux 16.04 Long Term Support (LTS) (April 2016).
#  * git repository test for future compatibility changes to PROJ.4 may
#    be caught early.
matrix:
  include:
    - python: 2.7
    - python: 3.4
      env: 
        - PROJSOURCE=4.9.2
    - python: 3.5
    - python: 3.6
    - python: "nightly"
      env: 
        - PROJSOURCE=git
    
  allow_failures:
    - python: "nightly"


before_install:
  - pip install -r requirements-dev.txt
  
  - echo "PROJSOURCE is $PROJSOURCE"
  - pwd
  # Download external PROJ.4 version and compile
  - | 
    if [[ $PROJSOURCE == "git" || $PROJSOURCE =~ "4."* ]]; then 
      ci/travis/proj-dl-and-compile "$PROJSOURCE"
      export PROJ_DIR="/tmp/proj_dl_install"
    fi

  # add line to the top of _proj.pyx enabling coverage for Cython code
  - ./ci/travis/add_line_proj_pyx.sh
  
install:
  # coverage report requires a local install
  - PYPROJ_FULL_COVERAGE=YES pip install -e .

script:
    - python -c "import pyproj; pyproj.Proj(init='epsg:4269')"
    - nose2 -v

notifications:
  email: false
