include README
include README.html
include README.mingw
include MANIFEST.in
include LICENSE_proj4
include Changelog
include _pyproj.pyx
include _pyproj.c
include src/*.c
include src/*.h
include lib/pyproj/*py
include lib/pyproj/data/*
include test/test.py
include test/test2.py
include test/sample.out
include test/datum_shift.py
include test/test_transform.py
