include README.md
include MANIFEST.in
include pyproject.toml
include LICENSE
include Makefile
include pyproj/*.pyd
include pyproj/*.pyx
include pyproj/*.pxd
include pyproj/*.pxi
include pyproj/*.pyi
include test/sample.out
include test/*.py
include test/*/*.py
recursive-include docs *
prune docs/_build
prune pyproj/proj_dir
